@charset "utf-8";

/* CSS Document */
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

/* common style's */
a {
  color: #7447ae;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 24px;
}

/* button style */
.btn,
.btn.disabled {
  background: #f44336;
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 30px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.btn:hover {
  background: #e53935;
  color: #ffffff;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: .5;
}

.container-fluid {
  min-height: 700px;
}

/* loader */
.loader {
  position: fixed;
  color: white;
  background: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader>div {
  text-align: center;
  margin: 0px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.left-wrapper,
.right-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.right-wrapper {
  z-index: 99;
}

#myCarousel {
  z-index: -1;
}

.banner-wrapper {
  position: fixed;
  width: 41.66666667%;
  height: 100%;
  padding: 20px;
  z-index: 1;
  background-position: center;

  /* 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   */

}

.background01 {
  background: url(../images/banner.jpg) no-repeat center black;
  background-size: cover;
}

.background02 {
  background: url(../images/banner_02.jpg) no-repeat center black;
  background-size: cover;
}

.background03 {  
  background: url(../images/banner_03.jpg) no-repeat center black;
  background-size: cover;
}

.background04 {  
  background: url(../images/banner_04.jpg) no-repeat center black;
  background-size: cover;
}

.background05 {
  background: url(../images/banner_05.jpg) no-repeat center black;
  background-size: cover;
}

.banner-wrapper-text {
  position: fixed;
  width: 41.66666667%;
  height: 100%;
  padding: 20px;
  z-index: 99;
}

.logo h1 {
  font-family: 'Nixie One', sans-serif;
  font-weight: bold;
  font-size: 28px;
  position: absolute;
  color: #ffffff;
  margin: 0;
  top: 20px;
  left: 20px;
}

.banner-wrapper-text h2 {
  position: absolute;
  font-family: 'Nixie One', sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 4.5vw;
  color: #fff;
  margin: 0;
  bottom: 30px;
}

.banner-wrapper-text h2 span {
  display: block;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.banner-wrapper-text p {
  position: absolute;
  font-family: 'Nixie One', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  margin: 0;
  bottom: 15px;
}

.banner-wrapper-text p a {
  color: #fff;
}

.banner-wrapper-text p a:hover {
  border-bottom: 1px solid #fff;
}

/* event tab css */
.event-tab-wrapper {
  padding: 40px;
}

.event-tab .nav-tabs {
  position: fixed;
  top: 0;
  left: 41.66666667%;
  background: #fff;
  width: 58.33333333%;
  border-bottom: 0;
  padding: 20px 40px;
  margin-bottom: 30px;
  z-index: 99;
}

.event-tab .nav-tabs>li>button {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.28);
  margin-right: 30px;
  padding: 5px 0px;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.event-tab .nav-tabs>li.active>button,
.event-tab .nav-tabs>li.active>button:hover,
.event-tab .nav-tabs>li.active>button:focus,
.event-tab .nav-tabs>li>button:hover,
.event-tab .nav-tabs>li>button:focus {
  background: transparent;
  color: #000000;
  border: 1px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.event-tab {
  background-color: white;
}

.event-tab .tab-content {
  margin-top: 45px;
}

.event-tab .tab-content .tab-pane {
  margin-bottom: 100px;
}

.tab-pane {
  margin-top: 1rem;
  background-color: white;
}

.newsOuter {
  display: grid;
  margin-top: 100px;
}

.news {
  margin: auto;
}

.news h1,
h2,
h3 {
  margin-bottom: 2em;
}

.accordion {
  margin-top: 2em;
}

.accordion-button:not(.collapsed) {
  background-color: #000000;
  color: #f4c235;
}

.accordion-button {
  font-weight: bold;
  font-size: 1.15rem;
}

.accordion-body {
  font-size: 1.15rem;
}

.workedOnProjects, .courses {
  font-size: 1.15rem;
  margin-top: 1.5em;
  margin-left: 2em;
  padding-right: 1.5em;
}

.workedOnProjects, .courses li {
  font-weight: bold;
}

/* footer style */
.footer {
  padding: 20px 40px;
  background: #d0d0d0;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 41.66666667%;
  width: 58.33333333%;
  z-index: 99;
}

.footer a {
  color: #000;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.footer .divider {
  border-right: 3px solid #ccc;
  padding-left: 15px;
  margin-right: 15px;
}

/* footer icons */
.icon-footer span {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: -.4em;
  content: "";
  background-size: 1.5em 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.icon-github {
  background: url(../images/icons/github.svg);
}

.icon-linkedin {
  background: url(../images/icons/linkedin-circled.svg);
}

.icon-biolink {
  background: url(../images/icons/biolink.svg);
}

.icon-email {
  background: url(../images/icons/email.png);
}

/* media query for tab */
@media (max-width: 767px) {
  .banner-wrapper {
    
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    background-size: 100%;
  }

  .banner-wrapper-text {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
  }

  .banner-wrapper-text h2 {
    font-size: 38px;
    line-height: 38px;
  }

  .banner-wrapper-text h2 span {
    font-size: 16px;
  }

  .right-wrapper{
    position: relative;
    display: block;
    top: 300px;
    overflow: hidden;
    
  }

  .event-tab-wrapper {
    padding: 20px;
  }

  .event-tab .nav-tabs {
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
  }

  .event-tab .tab-content {
    margin-top: 20px;
  }

  .footer {
    padding: 15px;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
}

/* media query for Mobile */
@media (max-width: 480px) {

  .event-tab .nav-tabs>li>button {
    font-size: 16px;
    margin-right: 0;
    padding: 2px 0px;
  }

  .event-tab .nav-tabs>li {
    width: 100%;
  }

  .footer a {
    font-size: 16px;
    margin: 0;
  }

  .footer a .divider {
    border-right: 0px;
    padding-left: 0;
    margin-right: 0;
    display: block;
  }
}